body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

:root {
    --primary-color: #757575;
    --tital-color: black;
    --accent-color: #2196f3;
    --text-title: #212121;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --svg-color: #afb1b8;
}

.break {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


/*Header*/

.unit:hover .link-header-font,
.unit:focus .link-header-font {
    color: var(--accent-color);
}

.unit:not(:last-child) {
    margin-right: 30px;
}

.mark {
    fill: currentColor;
    margin-right: 10px;
}

.logo-lin {
    color: #212121;
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-lin>span {
    color: var(--accent-color);
}

.link-header-font {
    bottom: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.site-nav {
    list-style: none;
    text-decoration: none;
    display: flex;
    margin-left: 85px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.site-nav>.item+.item {
    margin-left: 50px;
}

.site-nav .link-header-font {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-title-color);
    transition: color 250ms var(--timing-function);
}

.site-nav .current {
    color: var(--accent-color);
    position: relative;
}

.site-nav .current::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
}

.site-nav .link-header-font:hover,
.site-nav .link-header-font:focus {
    color: var(--accent-color);
}

.auth-nav {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
}

.auth-nav .link-header-font {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms var(--timing-function);
}

.auth-nav>.item+.item {
    margin-left: 30px;
}

.auth-nav .link-header-font,
main .text {
    color: #757575;
}


/*Hero*/

.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/header.jpg);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    background: #ffffff;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 2000ms var(--timing-function);
}

.form {
    padding: 20px;
    margin: 20px;
    width: 528px;
    height: 581px;
}

.form-title {
    font-family: Roboto;
    font-style: 400;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-title);
}

.form-input {
    width: 100%;
    margin: 0;
    padding: 10px 20px;
    font: inherit;
    border-radius: 3px;
    border: 1px solid black;
}

.form-input:focus+.form-label,
.form-input:not(:placeholder-shown)+.form-label {
    transform: translateY(-42px);
}

.form-input:placeholder-shown {
    background-color: red;
}

.form-field {
    position: relative;
    margin-bottom: 20px;
}

.form-label {
    position: absolute;
    top: 50%;
    left: 42px;
    background-color: teal;
    transform: translateY(-50%);
    color: #757575;
    transition: transform 250ms linear;
}


/*Our team*/

.team {
    background-color: white;
    padding-top: 94px;
    padding-bottom: 94px;
    margin: 0;
}

.shop {
    padding-bottom: 94px;
}

.member {
    width: 270px;
    padding-bottom: 11px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.section {
    margin-top: 0;
    margin-bottom: 40px;
    padding-top: 200px;
    color: #ffffff;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
}

.business {
    padding-top: 94px;
    padding-bottom: 94px;
}

.title-busy {
    width: 1200px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--text-title);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.back {
    display: flex;
}

.list {
    margin-bottom: 10px;
    margin-top: 30px;
    color: var(--text-title);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.erace {
    padding-left: 0;
    list-style: none;
    color: white;
}

.erace :hover,
:focus {
    color: var(--accent-color);
}

.text {
    color: #757575;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.com {
    display: flex;
}

.com>.member+.member {
    margin-left: 30px;
}

.main {
    text-align: center;
    height: 600px;
    list-style: none;
    background-color: white;
}

.middle {
    list-style: none;
    background-color: white;
    padding-top: 94px;
    padding-bottom: 94px;
}

.back {
    background-color: white;
    list-style: none;
}

.decoration {
    text-decoration: none;
}

.inside {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: #f5f4fa;
}

.size {
    width: 70px;
    height: 70px;
}

.space {
    width: 370px;
}


/*Контакты*/

.contact {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.contact>.item+.item {
    margin-left: 30px;
}

.contact a {
    list-style: none;
    text-decoration: none;
    color: var(--primary-color);
    margin-top: 32px;
    margin-bottom: 32px;
}


/*.contact a:hover,
.contact a:focus {
    color: var(--accent-color);
}*/

.header-font {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}


/*чем мы занимаемся*/

.doing {
    z-index: 2;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    bottom: 11px;
    left: 85px;
}

.doit {
    position: relative;
}

.stripe {
    content: '';
    z-index: 1;
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
}

.details {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
}

.details>.box+.box {
    margin-left: 30px;
}

.details>.space+.space {
    margin-left: 30px;
}

.texts {
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
}


/*Наша команда*/

.name {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.duty {
    margin: 0;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.link .social-link:not(:last-child) {
    margin-right: 10px;
}

.link {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    margin-top: 16px;
}

.soc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc:focus,
.soc:hover {
    background-color: var(--accent-color);
    fill: white;
}


/*Постоянные клиенты*/

.label:not(:last-child) {
    margin-right: 30px;
}

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: white;
}

.logotype {
    display: flex;
    margin-top: 50px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    min-width: 170px;
    fill: var(--svg-color);
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border 250ms var(--timing-function);
}

.icon:hover {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.icon:active,
.icon:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.brand {
    transition: fill 250ms var(--timing-function);
}

.brand:hover {
    fill: var(--accent-color);
}


/*Портфолио*/

.background {
    background-color: #ffffff;
    font-family: roboto, sans-serif;
}

.detail {
    display: flex;
    justify-content: center;
    padding-top: 93px;
    padding-bottom: 50px;
}

.detail>.click+.click {
    margin-left: 8px;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
}

.container-flex .card:hover {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.signature {
    width: 370px;
    height: 110px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.buttom-picture {
    display: block;
}

.optic {
    position: relative;
    overflow: hidden;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #ffffff;
    position: absolute;
    opacity: 0;
    transition: 700ms opacity linear;
    bottom: 0;
    left: 0;
    padding-top: 69px;
    padding-bottom: 57px;
    padding-left: 39px;
    padding-right: 9px;
    margin: 0;
}

.card:hover .message {
    opacity: 1;
}

.overlays {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
    transform: translateY(100%);
}

.optic:hover .overlays {
    transform: translateY(-290px);
    transition: transform 250ms var(--timing-function);
}

.card:hover.overlays {}

.card {
    width: 370px;
    height: 404px;
    margin-right: 30px;
    margin-bottom: 30px;
    overflow: hidden;
}

.card:nth-child(3n) {
    margin-right: 0px;
}

.container-flex .card:nth-last-child(-n + 3) {
    margin-bottom: 0;
}


/*кнопка*/

.button-order {
    display: inline-block;
    margin: 0;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    text-align: center;
    min-height: 50px;
    background-color: var(--accent-color);
    border-color: transparent;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
}

.button-follower {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    margin: 0;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 29px;
    width: 200px;
    min-height: 50px;
    background-color: #2196f3;
    border-color: transparent;
    color: white;
    margin-bottom: 56px;
    cursor: pointer;
}


/*
.button-follower:hover,
.button-follower:focus {
    background-color: palevioletred;
}*/

.button-follower::after {
    width: 24px;
    height: 24px;
    content: '';
    background-image: url(../images/icon_send.png);
    background-size: contain;
    margin-left: 10px;
}

.button-list {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background-color: #f5f4fa;
    border-color: transparent;
    border-radius: 4px;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
}

.button-list:hover,
.button-list:focus {
    color: white;
    background: var(--accent-color);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}


/*Наши проекты*/

.projects {
    display: none;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text-title);
}

.text-button {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: #757575;
}

.text-title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: #ffffff;
}


/*Подвал*/

.title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    padding-bottom: 21px;
}

.address {
    margin-top: 10px;
    margin-bottom: 9px;
}

.foot-web {
    margin-top: 48px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #2196f3;
}

.footer {
    background-color: #2f303a;
    padding-top: 48px;
}

.footer-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.foot-studio {
    margin-top: 48px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #ffffff;
}

.studio-logo {
    color: white;
}

.footer-contacts {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.footer-contacts:hover,
.footer-contacts:focus {
    color: var(--accent-color);
}

.container .title {
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.container .adress {
    margin-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    /* or 171% */
    letter-spacing: 0.03em;
    color: #ffffff;
}

.footer-links {
    display: flex;
}

.footer-links a:hover,
.footer-links a:focus {
    color: var(--accent-color);
}

.join-us .footer-links {
    width: 206px;
    display: flex;
    justify-content: space-between;
}

.join-us {
    margin-bottom: 42px;
}

.links {
    margin-right: 10px;
}

.link-id {
    display: block;
    padding: 0;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms var(--timing-function);
}

.link-id:hover {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--accent-color);
}

.link-id:active,
.link-id:focus {
    background-color: var(--accent-color);
}

.address,
.footer-links-title,
.subscribe-title {
    font-style: normal;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    /* or 171% */
    letter-spacing: 0.03em;
    color: #ffffff;
}

.subscribe {
    margin-bottom: 85px;
}

.decorate {
    color: var(--accent-color);
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.cont>.item {
    margin-top: 9px;
}

.copyright {
    display: flex;
    justify-content: center;
    margin-top: 46px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.authors {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 18px;
    padding-bottom: 21px;
    color: rgba(255, 255, 255, 0.4);
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.03em;
    text-align: center;
}

.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid orangered;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}